* {
    margin: 0;
    padding: 0;
}

/*************************************************************************
                            PAGE DE CONNECTION
**************************************************************************/
.mainContainer{
    max-width: 650px;
    margin: 0 auto;
}


.responsable{
    height: 540px;
    text-align: center;
    background-color: #703084;
}

@media screen and (max-width: 320px){
    .mainContainer{
        position: fixed;
    }
}
.nom-acceuil{
    margin: 15px;
    font-size: x-large;
    color: #ffd430;
    font-family: 'Rubik', sans-serif;

}

.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #ffd430;
    margin-bottom: 15px;
}

.login{
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 230px;
    margin: 0 auto;
}

.avatar{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.button{
    width: 250px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background-color: #ffd430;
    border: none;
}

.button:hover{
    background-color: #703084;
    color: #ffd430;
    border: 1px #ffd430 solid;
}

.bouton:hover{
    background-color: #ffd430;
    color: #703084;
    border: 1px #703084 solid;
}

.conex{
    width: 200px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border: none;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
}
/********************************************************************
                        PAGE DE REDIRECTION
*********************************************************************/

.departements{
    margin: 10px;
    height: 40px;
    font-size: 20px;
    color: #ffd430;
}


nav > ul{
    margin: 0px;
    padding: 0px;
}

nav > ul::after{
    content: "";
    display: block;
    clear: both;
}


nav > ul > li{
    float: left;
    position: relative;
}

nav > ul  > li > a{
    padding: 20px 30px;
    color: #703084;
}


nav a{
    display: inline-block;
    text-decoration: none;
}

nav li{
    list-style-type: none;
}

nav{
    width: 100%;
    height: 50px;
    background-color: #703084;
}

nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 100000;
}

.submenu{
    display: none;
}

.submenu li{
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    color: #ffd430;
    width: 150px;
}

.departements:hover{
border-top: 5px solid #703084;
}

nav > ul> li:hover a{
    padding: 15px 30px 20px 30px;
}

.departements .submenu{
    background-color: #703084;
}

.submenu li:hover a {
    color: #703084;
    font-weight: bold;
}

.departements .submenu li:hover{
background-color: #ffd430;
color: #703084;
}


/********************************************************
                    SERVIE DIVERS
*********************************************************/

.nav-divers{
    background-color: #703084;
}

.cataloge-divers{
    margin-top: 50px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
}

.cata{
    height: 70px;
    width: 200px;
    margin-bottom: 25px;
    background-color: #703084;
    color: #ffd430;
}

.nom-divers{
    line-height: 70px;
    text-align: center;
}


.deco{
    margin: 15px;
    font-family: 'Rubik', sans-serif;
}

@media screen and (max-width: 320px){
    .colum{
        display: block;
        flex-direction: column;
        margin-bottom: 25px;
        width: 286px;
    }
}

@media screen and (min-width:450px) and (max-width:480px){
    .colum{
        display: block;
        flex-direction: column;
        margin-bottom: 25px;
        width:320px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width:620px) and (max-width:640px){
    .colum{
        display: block;
        flex-direction: column;
        margin-bottom: 25px;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width:920px) and (max-width:980px){
    .colum{
        display: block;
        flex-direction: column;
        margin-bottom: 25px;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}

.colum{
    display: flex;
    justify-content: space-around;
}

.titre{
    margin: 15px;
    margin-bottom: 35px;
}

.imgFiche{
    width: 120px;
    height: 120px;
    border-radius: 10px;  
}

.fiche{
    display: flex;
    flex-direction: column;
    background-color: #703084;
    color: #ffd430;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
}

ficheObjet{
    width: 320px;
    height: 350px;
}

.text{
    width: 160px;
    display: flex;
    flex-direction: column;
    border: 1px #ffd430 solid;
    border-radius: 10px;
    text-align: center;
}

.text p{
    margin: 5px;
    padding: 5px;
}

.produit{
    display: flex;
    justify-content: space-around;
}

.commentaire{
    display: flex;
    flex-direction: column;
}

.commentaire h4{
    text-align: center;
    margin: 5px;
}

.commentaires{
    height: 80px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    line-height: 80px;
    border: 1px #ffd430 solid;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
}

.btn-commentaire{
    width: 150px;
    height: 40px;
    margin: 10px;
    text-align: center;
    background-color: #703084;
    color: #ffd430;
    border: 1px #ffd430 solid;
    border-radius: 10px;
}

.btn-commentaire:hover{
    background-color: #ffd430;
    color: #703084;
    border: 1px #703084 solid;
}

.envois{
    display: flex;
    justify-content: space-around;
    border: none;
}

.com{
    text-align: center;
    margin-bottom: 6px;
}

.align{
    display: flex;
    justify-content: space-around;
}

.mise{
    margin: 8px;
}

/************************************************
            PAGE ADMINISTRATION
************************************************/

.cont{
    width:500px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:320px) {
    .cont{
        width: 310px;
        display: block;
        flex-direction: column;
    }
        .formulaireMarchandise{
        width: 310px;
    }

    texterea{
        width: 250px;
        margin: 0 auto;
    }
}

@media screen and(max-width:480px){
    .cont{
        width: 450px;
    }

    .formulaireMarchandise{
        width: 310px;
    }
}

@media screen and (max-width:640px){
    .cont{
        width: 509px;
        margin-left: auto;
        margin-right: auto;
    }
}

.groupeOne{
    width: 150px;
    margin: 15px;
    border: 1px red solid;
}

.secteurOne{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.btnSecteurOne{
    width: 150px;
    height: 40px;
    margin-bottom: 25px;
    background-color: #703084;
    color: #ffd430;
    border:1px  #ffd430 solid;
    font-family: 'Rubik', sans-serif;
}

.btnSecteurOne:hover{
background-color: #ffd430;
color: #703084;
border: 1px #703084 solid;
}

.insertion{
    width: 150px;
    display: flex;
    flex-direction: column;
}

.li{
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.formulaireMarchandise{
    margin-top: 29px;
}

.lab{
    width: 140px;
}

.texterea{
    display: flex;
    flex-direction: column;
}


.coms{
    margin-bottom: 15px;
}

textarea{
    height: 90px;
    width: 250px;
    margin: 0 auto;
}

.btnEnvoyer{
    width: 150px;
    height: 40px;
    float: right;
    margin-top: 6px;
    background-color: #703084;
    border: 1px #ffd430 solid;
    color: #ffd430;
}

.btnEnvoyer:hover{
    background-color: #ffd430;
    border: 1px #703084 solid;
    color: #703084;
}




























