* {
    margin: 0;
    padding: 0;
}

/*************************************************************************
                            PAGE DE CONNECTION
**************************************************************************/
.responsable{
    width: 650px;
    height: 540px;
    margin-top: 50px;
    margin: 0 auto;
    text-align: center;
    background-color: #703084;
}

h3{
margin-bottom: 25px;
text-align: center;
color: white;
height: 50px;
line-height: 50px;
}

.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-bottom: 15px;
}

.mainContainer{
    margin-top: 50px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.login{
    display: flex;
    flex-direction: column;
    width: 650px;
}

.avatar{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 25px;
}

.button{
    width: 250px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background-color: #ffd430;
    border: none;
}

.button:hover{
    background-color: #703084;
    color: #ffd430;
    border: 1px #ffd430 solid;
}

.bouton:hover{
    background-color: #ffd430;
    color: #703084;
    border: 1px #703084 solid;
}

.conex{
    width: 200px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border: none;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
}
/********************************************************************
                        PAGE DE REDIRECTION
*********************************************************************/

.departements{
    margin: 10px;
    height: 40px;
    font-size: 20px;
    color: #ffd430;
}


nav > ul{
    margin: 0px;
    padding: 0px;
}

nav > ul::after{
    content: "";
    display: block;
    clear: both;
}


nav > ul > li{
    float: left;
    position: relative;
}

nav > ul  > li > a{
    padding: 20px 30px;
    color: #703084;
}


nav a{
    display: inline-block;
    text-decoration: none;
}

nav li{
    list-style-type: none;
}

nav{
    width: 100%;
    height: 50px;
    background-color: #703084;
}

nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 100000;
}

.submenu{
    display: none;
}

.submenu li{
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    color: #ffd430;
    width: 150px;
}

.departements:hover{
border-top: 5px solid #703084;
}

nav > ul> li:hover a{
    padding: 15px 30px 20px 30px;
}

.departements .submenu{
    background-color: #703084;
}

.submenu li:hover a {
    color: #703084;
    font-weight: bold;
}

.departements .submenu li:hover{
background-color: #ffd430;
color: #703084;
}


/********************************************************
                    SERVIE DIVERS
*********************************************************/

.nav-divers{
    background-color: #703084;
    border: 1px red solid;
}

.cataloge-divers{
    margin-top: 50px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    border: 1px black solid;
}

.cata{
    height: 70px;
    width: 200px;
    margin-bottom: 25px;
    background-color: #703084;
    color: #ffd430;
}

.nom-divers{
line-height: 70px;
text-align: center;
}


.deco{
    max-width: 100%;
    margin: 15px;
    font-family: 'Rubik', sans-serif;
}
.titre{
    margin: 15px;
    margin-bottom: 35px;
}

.imgFiche{
    width: 290px;
}

.fiche{
    width: 390px;
    height: 390px;
    display: flex;
    flex-direction: column;
    background-color: #703084;
    color: #ffd430;
    border: 1px #703084 solid;
    font-family: 'Rubik', sans-serif;
}

.text{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.text p{
    margin-bottom: 20px;
    margin-top: 10px;
}

.produit{
    display: flex;
    justify-content: space-around;
}

.commentaire{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.commentaire h4{
    text-align: center;
    margin-bottom: 15px;
}

.commentaires{
    height: 80px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    line-height: 80px;
    border: 1px #ffd430 solid;
    font-family: 'Rubik', sans-serif;
}

.btn-commentaire{
    text-align: center;
    margin-top: 15px;
    width: 150px;
    height: 40px;
    background-color: #703084;
    color: #ffd430;
    border: 1px #ffd430 solid;
}

.btn-commentaire:hover{
    background-color: #ffd430;
    color: #703084;
    border: 1px #703084 solid;
}

.envois{
    display: flex;
    justify-content: space-around;
    border: none;
}

.com{
    text-align: center;
    margin-bottom: 6px;
}

.align{
    display: flex;
    justify-content: space-around;
}


































