* {
    margin: 0;
    padding: 0;
}

/*************************************************************************
                            PAGE DE CONNECTION
**************************************************************************/
.responsable{
    width: 650px;
    height: 540px;
    margin-top: 50px;
    margin: 0 auto;
    text-align: center;
    background-color: #703084;
}

h3{
margin-bottom: 25px;
text-align: center;
color: white;
height: 50px;
line-height: 50px;
}

.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-bottom: 15px;
}

.mainContainer{
    margin-top: 50px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.login{
    display: flex;
    flex-direction: column;
    width: 650px;
}

.avatar{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 25px;
}

.button{
    width: 250px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background-color: #ffd430;
    border: none;
}

.conex{
    width: 200px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border: none;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
}
/********************************************************************
                        PAGE DE REDIRECTION
*********************************************************************/

.navigation {
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    background-color: #703084;
    color: white;
    font-family: 'Rubik', sans-serif;
}

h1 {
    margin-left: 15px;
    color: #ffd430;
}

.formulaire {
    margin-right: 15px;
}

.champ {
    width: 200px;
    font-family: 'Rubik', sans-serif;
    padding-left: 5px;
}

.bouton {
    width: 90px;
    background-color: #703084;
    border: 1px #ffd430 solid;
    color: #ffd430;
    font-family: 'Rubik', sans-serif;
}

.container {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.section {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.button-catalogue {
    width: 200px;
    height: 40px;
    background-color: #703084;
    border: 1px #ffd430 solid;
    color: #ffd430;
    font-family: 'Rubik', sans-serif;
}


/********************************************************
                    SERVIE DIVERS
*********************************************************/

.nav-divers{
    background-color: #703084;
    border: 1px red solid;
}

.cataloge-divers{
    margin-top: 50px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    border: 1px black solid;
}

.cata{
    height: 70px;
    width: 200px;
    margin-bottom: 25px;
    background-color: #703084;
    color: #ffd430;
}

.nom-divers{
line-height: 70px;
text-align: center;
}


.deco{
    margin: 15px;
    font-family: 'Rubik', sans-serif;
}

.imgFiche{
    width: 250px;
}

.fiche{
    width: 380px;
    height: 350px;
    display: flex;
    flex-direction: column;
    background-color: #703084;
    color: #ffd430;
    border: 1px #703084 solid;
    font-family: 'Rubik', sans-serif;
}

.text{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.text p{
    margin-bottom: 20px;
    margin-top: 10px;
}

.produit{
    display: flex;
    justify-content: space-around;
}

.commentaire{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.btn-commentaire{
    text-align: center;
    margin-top: 15px;
    width: 150px;
    height: 40px;
    background-color: #703084;
    color: #ffd430;
    border: 1px #ffd430 solid;
}

.envois{
    display: flex;
    justify-content: space-around;
    border: none;
}

.com{
    text-align: center;
    margin-bottom: 6px;
}

textarea{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}