<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../../public/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <script src="./public/assets/js/animation.js"></script>
    <title>Petit Rien</title>
</head>

<body>


    <nav>
        <ul>
            <li class="departements">Departements
                <ul class="submenu">
                    <a href="divers.html">
                        <li>Divers</li>
                    </a>
                    <a href="meuble.html">
                        <li>Meuble</li>
                    </a>
                    <a href="babyparadise.html">
                        <li>Baby Paradise</li>
                    </a>
                    <a href="lingerie.html">
                        <li>Lingerie</li>
                    </a>
                    <a href="librairie.html">
                        <li>Librairie</li>
                    </a>
                    <a href="retroParadise.html">
                        <li>Retro Paradise</li>
                    </a>
            </li>
            </ul>
        </ul>
    </nav>


    <h1>Page d'administration</h1>

    <div class="cont">
        <div class="groupeOne">
            <form action="" class="secteurOne">
                <button class="btnSecteurOne">Divers</button>
                <button class="btnSecteurOne">Meuble</button>
                <button class="btnSecteurOne">Baby Paradise</button>
                <button class="btnSecteurOne">Lingerie</button>
                <button class="btnSecteurOne">Librairie</button>
                <button class="btnSecteurOne">Retro Paradise</button>
            </form>
        </div>


        <div class="formulaireMarchandise">
            <ul>
                <li class="li">
                    <label for="" class="lab">Nom d'utilisateur</label>
                    <input type="text" name="" id="">
                </li>
            </ul>
            <form action="" class="upload">
                <ul>
                    <li class="li">
                        <label for="">Photo</label>
                        <input type="file">
                    </li>
                </ul>
            </form>

            <form action="" class="insertionProduit">
                <ul>
                    <li class="li">
                        <label for="" class="lab">Marque</label>
                        <input type="text">
                    </li>

                    <li class="li">
                        <label for="" class="lab">Description</label>
                        <input type="text" name="" id="">
                    </li>
                    <li class="li">
                        <label for="" class="lab">Prix</label>
                        <input type="text">
                    </li>

                    <li class="li texterea">
                        <label for="" class="coms">Espace commentaire</label>
                        <textarea name="" id=""></textarea>
                    </li>
                </ul>
                <button class="btnEnvoyer">Envoyer</button>
            </form>
        </div>
    </div>




</body>

</html>