<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../../public/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <script src="./public/assets/js/animation.js"></script>
    <title>Petit Rien</title>
</head>

<body>


    <nav>
        <ul>
            <li class="departements">Departements
                <ul class="submenu">
                    <a href="">
                        <li>Divers</li>
                    </a>
                    <a href="">
                        <li>Meuble</li>
                    </a>
                    <a href="">
                        <li>Baby Paradise</li>
                    </a>
                    <a href="">
                        <li>Lingerie</li>
                    </a>
                    <a href="">
                        <li>Librairie</li>
                    </a>
                    <a href="">
                        <li>Retro Paradise</li>
                    </a>
            </li>
            </ul>
        </ul>
    </nav>




</body>

</html>