<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../../public/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <script src="./public/assets/js/animation.js"></script>
    <title>Petit Rien</title>
</head>

<body>
        <nav class="navigation">
            <h1>Les departements</h1>
            <form action="" class="formulaire">
                <input class="champ" type="text" value="Search...">
                <input class="bouton" type="button" value="Rechercher">
            </form>
        </nav>

        <div class="container">
            <ul class="section">
                <li>
                  <a href="meuble.html"><button class="button-catalogue">Meuble</button></a>
                </li>
                <li>
                <a href="babyparadise.html"><button class="button-catalogue">Baby Paradise</button></a>
                </li>
                <li>
                    <a href="divers.html"><button class="button-catalogue">Divers</button></a>
                </li>
                <li>
                    <a href="librairie.html"><button class="button-catalogue">Librairie</button></a>
                </li>
                <li>
                    <a href="lingerie.html"><button class="button-catalogue">Lingerie</button></a>
                </li>
            </ul>
        </div>

</body>

</html>