<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../../public/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <title>Divers</title>
</head>

<body>


    <nav>
        <ul>
            <li class="departements">Divers
                <ul class="submenu">
                    <a href="divers.html">
                        <li>Divers</li>
                    </a>
                    <a href="meuble.html">
                        <li>Meuble</li>
                    </a>
                    <a href="babyparadise.html">
                        <li>Baby Paradise</li>
                    </a>
                    <a href="lingerie.html">
                        <li>Lingerie</li>
                    </a>
                    <a href="librairie.html">
                        <li>Librairie</li>
                    </a>
                    <a href="retroParadise.html">
                        <li>Retro Paradise</li>
                    </a>
            </li>
            </ul>
            <li class="departements">Catalogue
                <ul class="submenu">
                    <a href="#">
                        <li>Sport</li>
                    </a>
                    <a href="#">
                        <li>Electro</li>
                    </a>
                    <a href="#">
                        <li>Vaiselles</li>
                    </a>
                    <a href="">
                        <li>Valoriste</li>
                    </a>
                    <a href="">
                        <li>Tableau</li>
                    </a>
                    <a href="">
                        <li>Jeux de societe</li>
                    </a>
            </li>
            </ul>
    </nav>


<div class="deco colum">
    <div class="ficheObjet">
        <section class="fiche align colum">
            <section class="dateUtilisateur">
                <p class="mise">Mise en ligne : Alessandra</p>
            </section>
            <section class="produit">
                <img class="imgFiche" src="../../../public/assets/img/25016.jpg" alt="">
                <section class="text">
                    <p>Marque : Senseo</p>
                    <p>Machine à café</p>
                    <p>Prix : 25 euros</p>
                </section>
            </section>
            <section class="commentaire">
                <h4>Commentaire : </h4>
                <p class="commentaires">Un ptit café les gars</p>
                <section class="envois">
                    <button class="btn-commentaire">Modifier</button>
                    <button class="btn-commentaire">Supprimer</button>
                </section>
            </section>
        </section>
    </div>

        <section class="fiche align colum">
            <section class="dateUtilisateur">
                <p class="mise">Mise en ligne : Delphine</p>
            </section>
            <section class="produit">
                <img class="imgFiche" src="../../../public/assets/img/25016.jpg" alt="">
                <section class="text">
                    <p>Marque : Senseo</p>
                    <p>Machine à café</p>
                    <p>Prix : 25 euros</p>
                </section>
            </section>
            <section class="commentaire">
                <h4>Commentaire : </h4>
                <p class="commentaires">Un ptit café les gars</p>
                <section class="envois">
                    <button class="btn-commentaire">Modifier</button>
                    <button class="btn-commentaire">Supprimer</button>
                </section>
            </section>
        </section>


        <section class="fiche align colum">
            <section class="dateUtilisateur">
                <p class="mise">Mise en ligne : Hervé D</p>
            </section>
            <section class="produit">
                <img class="imgFiche" src="../../../public/assets/img/25016.jpg" alt="">
                <section class="text">
                    <p>Marque : Senseo</p>
                    <p>Machine à café</p>
                    <p>Prix : 25 euros</p>
                </section>
            </section>
            <section class="commentaire">
                <h4>Commentaire : </h4>
                <p class="commentaires">Un ptit café les gars</p>
                <section class="envois">
                    <button class="btn-commentaire">Modifier</button>
                    <button class="btn-commentaire">Supprimer</button>
                </section>
            </section>
        </section>


        <section class="fiche align colum">
            <section class="dateUtilisateur">
                <p class="mise">Mise en ligne : Victor</p>
            </section>
            <section class="produit">
                <img class="imgFiche" src="../../../public/assets/img/25016.jpg" alt="">
                <section class="text">
                    <p>Marque : Senseo</p>
                    <p>Machine à café</p>
                    <p>Prix : 25 euros</p>
                </section>
            </section>
            <section class="commentaire">
                <h4>Commentaire : </h4>
                <p class="commentaires">Un ptit café les gars</p>
                <section class="envois">
                    <button class="btn-commentaire">Modifier</button>
                    <button class="btn-commentaire">Supprimer</button>
                </section>
            </section>
        </section>

    </div>


</body>

</html>