<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../../public/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <title>Divers</title>
</head>

<body>



    <nav class="navigation">
        <h1>Service Divers</h1>
        <form action="" class="formulaire">
            <input class="champ" type="text" value="Search...">
            <input class="bouton" type="button" value="Rechercher">
        </form>
    </nav>

    
    <div class="container">
        <ul class="section">
            <li>
                <button class="button-catalogue">Deco</button>
            </li>
            <li>
                <button class="button-catalogue">Sport</button>
            </li>
            <li>
                <button class="button-catalogue">Valoriste</button>
            </li>
            <li>
                <button class="button-catalogue">Electro</button>
            </li>
        </ul>
    </div>

<p class="titre">Deco</p>
    <div class="deco align">
        <section class="fiche align">
            <section class="produit">
                <img class="imgFiche" src="../../../public/assets/img/25016.jpg" alt="">
            <section class="text">
                <p>Marque : Senceo</p>
                <p>Description : Machine à café</p>
                <p>Prix :  25 euros</p>
            </section>
        </section>
            <section class="commentaire">
                <h4>Commentaire</h4>
                <p class="commentaires">Un ptit café les gars</p>
                <section class="envois" >
                <button class="btn-commentaire">Modifier</button>
                <button class="btn-commentaire">Supprimer</button>
                </section>
            </section>
        </section>


        <section class="fiche align">
                <section class="produit">
                    <img class="imgFiche" src="../../../public/assets/img/25016.jpg" alt="">
                <section class="text">
                    <p>Marque : Senceo</p>
                    <p>Description : Machine à café</p>
                    <p>Prix :  25 euros</p>
                </section>
            </section>
                <section class="commentaire">
                    <h4>Commentaire</h4>
                    <p class="commentaires">Un ptit café les gars</p>
                    <section class="envois" >
                    <button class="btn-commentaire">Modifier</button>
                    <button class="btn-commentaire">Supprimer</button>
                    </section>
                </section>
            </section>


            <section class="fiche align">
                    <section class="produit">
                        <img class="imgFiche" src="../../../public/assets/img/25016.jpg" alt="">
                    <section class="text">
                        <p>Marque : Senceo</p>
                        <p>Description : Machine à café</p>
                        <p>Prix :  25 euros</p>
                    </section>
                </section>
                    <section class="commentaire">
                        <h4>Commentaire</h4>
                        <p class="commentaires">Un ptit café les gars</p>
                        <section class="envois" >
                        <button class="btn-commentaire">Modifier</button>
                        <button class="btn-commentaire">Supprimer</button>
                        </section>
                    </section>
                </section>


                <section class="fiche align">
                        <section class="produit">
                            <img class="imgFiche" src="../../../public/assets/img/25016.jpg" alt="">
                        <section class="text">
                            <p>Marque : Senceo</p>
                            <p>Description : Machine à café</p>
                            <p>Prix :  25 euros</p>
                        </section>
                    </section>
                        <section class="commentaire">
                            <h4>Commentaire</h4>
                            <p class="commentaires">Un ptit café les gars</p>
                            <section class="envois" >
                            <button class="btn-commentaire">Modifier</button>
                            <button class="btn-commentaire">Supprimer</button>
                            </section>
                        </section>
                    </section>

    </div>


</body>

</html>